footer {
    background: #8d8e8e;
}
.foot__nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-columns: 1fr 1fr 2fr;
    //grid-template-rows: 310px 120px 190px;
    grid-template-areas: 
        'side nav nav nav'
        'side spilka form form';
    &_side {
        grid-area: side;
        height: 310px;
        //height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;
        .article-text {
            color: #fff;
            padding: 30px 0 23px;
            max-width: 244px;
        }
    }
    &--join-us {
        font-family: 'gbold';
        font-size: 14px;
        color: #fff;
    }
    &_hrefs {
        grid-area: nav;
       height: 120px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       a {
           font-family: 'rlight';
           font-size: 15px;
           color: #495651;
       }
    }
    &_spilka {
        border-left: 1px solid #a4a5a5;
        border-right: 1px solid #a4a5a5;
        grid-area: spilka;
        height: 157px;
       // height: 50px;
       display: flex;
       flex-direction: column;
       align-items: center;
       article {
           margin-top: 17px;
           display: flex;
           flex-direction: column;
           a {
               color: #fff;
               font-family: 'glight';
               font-size: 14px;
               position: relative;
               &:before {
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    left: -20px;
                    top: 0px;
               }
               &:first-child {
                    &:before {
                        content: url(../img/phone.svg);
                    }
               }
               &:nth-child(2) {
                    &:before {
                        content: url(../img/phone.svg);
                    }
               }
               &:last-child {
                    &:before {
                            content: url(../img/email.svg)
                    }
               }
           }
       }
    }
    &_form {
        grid-area: form;
        height: 190px;
    }
}

.copy {
    height: 65px;
    width: 100%;
    background: #fff;
    
    .container {
        position: relative;
    }
    p {
        text-align: center;
        line-height: 65px;
        margin-bottom: 0;
    }
    img {
        position: absolute;
        right: 0;
        top: 0;
    }
}