$green: #75CD22;
$grey_p: #666666;

.head {
    height: 117px;
    position: relative;
    box-shadow:  0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    &:after {
        content: '';
        height: 32px;
        background: $green;
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &__logo {
        display: flex;
        justify-content: center;
        &--img {
            width: 200px;
        }
    }
    &__nav {
       
        &_hrefs {
            height: 85px;
            display: flex;
            justify-content: space-between;
            align-items: center;  
            &--href {
                font-family: 'rlight';
                font-size: 15px;
                color: $grey_p;
                //transition: .4s ease-in;
                &:hover {
                    font-family: '';
                    font-family: 'rbold';
                    color: $grey_p;
                    //text-decoration: none;
                    letter-spacing: -0.2px;
                    
                }
            }
            span {
                width: 1px;
                height: 14px;
                background: #dcdfdf;
            }
            .switch-langs {
                a {
                    font-family: 'glight';
                    color: $grey_p;
                    font-size: 15px;
                }
                .active {
                    font-size: 16px;
                    font-family: 'gbold';
                    color: $green;
                }
            }
        }
        &_green-line {
            background: $green;
            text-align: right;
            height: 32px;
            padding-right: 30px;
            padding-top: 2px;
            position: relative;
            &:before {
                content: '';
                height: 50px;
                width: 25px;
                background: #fff;
                position: absolute;
                left: -6px;
                top: -21px;
                transform: rotate(40deg);
            }
            a {
                font-family: 'glight';
                font-size: 14px;
                color: #fff;
                position: relative;
            }
            &--phone {
                &:before {
                    content: url('../img/phone.svg');
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    left: -20px;
                    top: -2px;
                }
            }
            &--mail {
                margin-left: 50px;
                &:before {
                    content: url('../img/email.svg');
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    left: -20px;
                    top: -2px;
                }
            }
        }
    }
}
.head__nav_hrefs ul{
    list-style: none;
    & li{
        display: inline-block;
        position: relative;
        & span{
            display: inline-block;
            height: 12px;
            width: 1px;
            background-color: #grey;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

//drop menu DISPLAY NONE

.drop__menu{
    position: absolute;
    left: -650px;
    top: 20px;
    width: 99vw;
    height: 530px;
    z-index: 1;
    background-color: #fff;
    opacity: 0.9;
    padding-top: 50px;
    padding-left: 210px;
    transition: 1s;
    display: none;
}
.drop__menu ul li{
    display: block;
}
.drop__menu ul li a{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'rlight';
    color: #666666;
    font-size: 15px;
}
.drop__menu ul li a:hover{
    font-weight: bold;
}
.drop__menu ul li::before{
    content: "";
    width: 350px;
    height: 1px;
    display: block;
    background-color: grey;
}
.drop__menu ul li:last-child::after{
    content: "";
    width: 350px;
    height: 1px;
    display: block;
    background-color: grey;
}
.head__nav_hrefs--href-about:hover > .drop__menu{
    display: block;
}
.drop__menu__1c{
    position: absolute;
    left: 360px;
    top: -132px;
    width: 400px;
    height: 380px;
    z-index: 1;
    opacity: 0.9;
    transition: 1s;
    display: block;
}
.drop__menu__1c ul li{
    display: block;
}
.drop__menu__1c ul li a{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'rlight';
    color: #666666;
    font-size: 15px;
}
.drop__menu__1c ul li a:hover{
    font-weight: bold;
}
.menu__mobile__img{
    position: absolute;
    left: 810px;
    top: -116px;
    opacity: 1;
}
//drop__menu__posl
.drop__menu__posl{
    position: absolute;
    left: -770px;
    top: 95px;
    width: 99vw;
    height: 530px;
    z-index: 1;
    background-color: #fff;
    opacity: 0.9;
    padding-top: 50px;
    padding-left: 210px;
    transition: 1s;
    display: none;
}
.drop__menu__posl ul li{
    display: block;
}
.drop__menu__posl ul li a{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'rlight';
    color: #666666;
    font-size: 15px;
}
.drop__menu__posl ul li a:hover{
    font-weight: bold;
}
.drop__menu__posl ul li::before{
    content: "";
    width: 350px;
    height: 1px;
    display: block;
    background-color: grey;
}
.drop__menu__posl ul li:last-child::after{
    content: "";
    width: 350px;
    height: 1px;
    display: block;
    background-color: grey;
}
.menu__poslug__img{
    position: absolute;
    left: 750px;
    top: 30px;
    opacity: 1;
    z-index: 2;
}
.head__nav_hrefs--href-posl:hover > .drop__menu__posl{
    display: block;
}
// breadcamps

.breads {
    height: 200px;
    background: url('../img/pattern.svg');
    background-size: cover;
    border-bottom: 1px solid #eceeed;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    &__wrap {
       
        padding: 30px 0;
        margin-bottom: 25px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            border-bottom: 2px solid $green;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 120px;
        }
        a {
            margin: 0 20px;
            font-family: 'glight';
            font-weight: bold;
            font-size: 14px;
            color: $grey_p;
        }
        .curent {
            color: $green;
        }
    }
    &--title {
        font-family: 'gbold';
        font-size: 38px;
        color: $grey_p;
    }
}

.b {
    border: 1px solid slateblue;
    box-sizing: border-box;
}