@font-face {
    font-family: 'glight';
    src: url("../fonts/Geometria-Light.ttf");
}

@font-face {
    font-family: 'gbold';
    src: url("../fonts/Geometria-Bold.ttf");
}

@font-face {
    font-family: 'gmedium';
    src: url("../fonts/Geometria-Medium.ttf");
}

@font-face {
    font-family: 'gheavy';
    src: url("../fonts/Geometria-Heavy.ttf");
}

@font-face {
    font-family: 'rlight';
    src: url("../fonts/ROBOTO-LIGHT.TTF");
}

@font-face {
    font-family: 'rbold';
    src: url("../fonts/ROBOTO-BOLD.TTF");
}

