.accounting{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
	height:600px;
}
.accounting__gr__line{
	margin-top: 155px;
	height: 1px;
	width: 120px;
	background-color: #8acf07;
}
.accounting__bg{
	font-family: gheavy;
	font-size: 145px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	position: absolute;
	top: 50px;
}
.accounting__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	text-transform: uppercase;
	position: absolute;
	width:670px;
	top: 155px;
}
.accounting__text{
	color: #666666;
	font-family: glight;
	font-size: 14px;
	position: absolute;
	width: 540px;
	top: 250px;
}
.accounting__computers{
	width:568px;
	height: 380px;
	position: relative;
	top: 82px;
	left: 195px;
}
.software{
	position: relative;
	padding-top: 30px;
	padding-bottom: 180px;
}
.software__line{
	height: 1px;
	width: 120px;
	background-color: #8acf07;
	margin: 0 auto;
	position: relative;
	top: -132px;
}
.software__bg{
	font-family: gheavy;
	font-size: 145px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	text-align: center;
	position: relative;
	top: -200px;
}
.software__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.software__grid{
	display: grid;
	grid-template-columns: repeat(4 , 285px);
	grid-template-rows: 250px;
	margin-left: -14px;
	margin-top: 50px;
}
.software__text{
	width:300px;
	margin: 0 auto;
	text-align: center;
	font-family: glight;
	font-size: 14px;
	margin-top: -190px;
}
.software__grid__box{
	position: relative;
}
.software__grid__img{
	margin-top: 25px;
	margin-left: 100px;
}
.software__grid__text{
	position: absolute;
	bottom: 0;
	left: 65px;
	font-family: gbold;
	font-size: 20px;
	color: #495651;
	text-align: center;
}
.software__andyou{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}
.vacancies{
	position: relative;
	padding-top: 30px;
	padding-bottom: 80px;
}
.vacancies__line{
	height: 1px;
	width: 120px;
	background-color: #8acf07;
	margin: 0 auto;
	position: relative;
	top: -132px;
}
.vacancies__bg{
	font-family: gheavy;
	font-size: 145px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	text-align: center;
	position: relative;
	top: -200px;
}
.vacancies__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.form__vacancies{
	width:570px;
	height: 65px;
	padding-left: 235px;
	background-color: #cacaca;
	box-sizing: border-box;
	border: none;
	font-family: glight;
	font-size: 14px;
	color: #494949;
	display: block;
	margin: 0 auto;
	margin-top: -170px;
}
.vacancies__nam{
	color: #495651;
	font-family: gbold;
	font-size: 30px;
	text-align:center;
	margin-top: 50px;
}
.vacancies__grid{
	display: grid;
	grid-template-columns: repeat(2, 570px);
	margin-left: -14px;
	margin-top: 50px;
}
.vacancies__grid__text{
	color: #494949;
	font-family: glight;
	font-size: 14px;
	width:550px;
}
.vacancies__grid__text p{
	margin-top: 25px;
}
.consult{
	display: grid;
	grid-template-columns: 390px 1fr;
	grid-gap: 60px;
	position: relative;
	padding-bottom: 100px;
}
.consult__line{
	font-family: gbold;
	font-size: 30px;
	color: #495651;
	margin-top: 115px;
}
.consult__text{
	color: #494949;
	font-family: glight;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.consult__textbold{
	color: #494949;
	font-family: gbold;
	font-size: 16px;
	margin-bottom: 115px;
}
.consult__white{
	background-color: #f6f6f6;
}
.form__email{
	width:320px;
	height: 65px;
	padding-left: 30px;
	background-color: #cacaca;
	box-sizing: border-box;
	border: none;
	font-family: glight;
	font-size: 14px;
	color: #494949;
	margin-bottom: 2px;

}
.form__button{
	width:320px;
	height: 65px;
	background-color: #ffffff;
    border: none;
    color: #495651;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-family: gbold;
	font-size: 18px;
	color: #495651;
	cursor: pointer;
}
.consult__gr1text{
	color:#495651;
	font-family: gbold;
	font-size: 16px;
	margin-top: 130px;
}
.consult__img{
	position: absolute;
	right: -180px;
	top: 105px;
	width:240px;
	height: 270px;
}