@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fonts";
@import './structure/header';
@import '../../node_modules/slick-carousel/slick/slick.scss';

//same styles
$green: #75CD22;
$grey_p: #666666;
$shadow1: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
$shadow2: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);

* {
    outline: none !important;
    text-decoration: none !important
}

.padd {
    padding-top: 230px;
    padding-bottom: 120px;
}
.padd-top {
    padding-top: 230px;
}
.padd-bot {
    padding-bottom: 120px;
}

/////////////////////// MAIN page
.main-block {
    background: url('../img/pattern.svg') no-repeat;
    background-size: cover;
    padding: 50px 0 70px;
    .doudle-title {
        line-height: 44px;
    }
    .doudle-title:before {
        content: '';
    }
    .doudle-title:after {
        right: inherit;
    }
    .green-btn {
        margin-left: 0;
        margin-top: 44px;
    }
}
.spec-about {
    padding-left: 0;
    padding-right: 0;
    position: relative;
 
}
//green background slider

.green-spilka {
    .green-btn {
        display: block;
        margin-left: 0;
        background: #fff;
        color: $green;
        &:hover {
            color: $green;
        }
    }
    .article-text {
        padding: 40px 0 20px !important;
    }
    ul {
        margin: 0 0 20px;
        padding-left: 30px;
        li {
            list-style: none;
            font-family: 'glight';
            font-size: 14px;
            color: #fff;
            position: relative;
            margin-bottom: 15px;
            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border: 1px solid #fff;
                border-radius: 50%;
                left: -30px;
                top: -1px;
                transition: .4s ease;
            }
        }
    }

    //slider
    .green-sl-enter {
        width: 100%;
        height: 450px;
        //border: 1px solid seashell;
        position: relative;
        margin-top: 38px;
        &__item {
            height: 450px;
            background-position: center !important;
            background-size: cover !important;
        }
        .sbtn {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid #fff;
            //background: transparent;
            z-index: 100;
            cursor: pointer;
            line-height: 52px;
            &:after {
                content: url('../img/nrig.png');
            }
        }
        .pull-left {
            left: -25px;
        }
        .pull-right {
            right: -25px;
            transform: rotate(180deg)
        }
    }
}
// .green-slider-wrap  {
//     background: $green;
//     padding: 100px 0 150px;
    
//     .green-slider {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         grid-template-rows: 480px;
//         align-items: center;


//         &__articles {

//         }
//     }
// }

// specialists
.doudle-titles-pecial {
    margin: 0 auto;
    display: block !important;
    text-align: center;
    //margin-top: 230px;
   
    &:before {
        right: 0;
        content: 'specs' !important;
    }
}
.specializ {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 780px;
    &__col {
        &_sibl {
            background-size: cover !important;
            background-position: center !important;
            position: relative;
            &--hover {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: #70b911f5;
                //cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: .2s ease-in;
                z-index: 10;
                box-shadow: 0 5px 47px rgba(0, 0, 0, 0.2)  ; 
            }
            &--title {
                font-family: 'gbold';
                font-family: 22px;
                color: #fff;
                width: 244px;
                position: relative;
                margin-bottom: 30px;
                transition: .4s ease-in-out;
                transform: scale(1.2);
                opacity: 0;
                &:after{ 
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 20px;
                    width: 30px;
                    height: 1px;
                    //background: #fff;

                    transition: .6s ease-in-out;
                    transition-delay: .3s;
                }
            }
            &--li {
                width: 230px;
                margin-bottom: 11px;
               // border: 1px solid red;
                box-sizing: border-box;
                position: relative;
                //overflow: hidden;
                height: 33px;
                list-style: none;
                &:before {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    left: -30px;
                    top: 4px;
                    transition: .4s ease;
                }
                &:nth-child(1) {
                    .specializ__col_sibl--href {
                        transition-delay: .2s;
                    }   
                }
                &:nth-child(2) {
                    .specializ__col_sibl--href {
                        transition-delay: .3s;
                    }   
                }
                &:nth-child(3) {
                    .specializ__col_sibl--href {
                        transition-delay: .4s;
                    }   
                }
                &:nth-child(4) {
                    .specializ__col_sibl--href {
                        transition-delay: .5s;
                    }   
                }
                &:hover {
                    &:before {
                        background: #dbdddc;
                    }
                }
            }
            &--href {
                position: absolute;
                bottom: 0;
                left: 100px;
                transition: .7s ease-in-out;
                opacity: 0;
                text-decoration: none;
                max-width: 190px;

                font-family: 'glight';
                font-size: 14px;
                transition: .4s ease;
                top: 0;
                bottom: 0;
                margin: auto;
                line-height: 15px;

                display: inline-table;
                
                &:hover {
                    font-weight: bold;
                }

            }
            &:hover {
                .specializ__col_sibl--hover {
                    opacity: 1;
                    left: -10px;
                    right: -10px;
                    top: -10px;
                    bottom: -10px;
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                    z-index: 100;
                }
                .specializ__col_sibl--title {
                    transform: scale(1);
                    opacity: 1;
                    &:after {
                        background: #fff;
                        opacity: 1;
                        left: 0px;
                    }
                }

                .specializ__col_sibl--href {
                    left: 0;
                    opacity: 1;
                    //transition: none;
                    color: #fff;
                    
                }
            }
        }
        &_one {
            height: 480px;
            //border: 1px solid red;
        }
        &_two {
            height: 300px;
        }
        &:nth-child(even) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

}


// about
.about-btn {
    margin: 85px auto 0px !important
}
.about-titl {
    margin: 0 auto;
    display: block !important;
    text-align: center;
    &:before {
        content: 'about' !important;
        right: 0;
    }
}
.about-cont {
    margin-top: 130px;
}
// clients
.chess-wrap {
    padding-bottom: 115px;
    background: url('../img/pattern.svg') no-repeat;
    background-size: cover;
    .green-btn {
        margin-top: 80px;
    }
}
.klients-title {
    margin: 0 auto;
    display: block !important;
    text-align: center;
    &:before {
        content: 'clients' !important;
        right: 0;
    }
}

// news
.UIT-title {
    margin: 0 auto;
    display: block !important;
    text-align: center;
    &:before {
        content: 'news' !important;
        right: 0;
    }
}
.news-slider {
    
    padding-left: 0px;
    padding-right: 0px;
    //background: url('../img/pattern.svg') no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    .back-lines {
        left: 28px;
        right: 28px !important;
        width: initial;
    }
    .slider-btn-wrapper {
        margin-top: 74px;
        position: relative;
        //border: 1px solid red;
    }
    &--enter {
        position: relative;
        // margin-top: 80px;
        // display: grid;
        // grid-template-columns: repeat(4,1fr);
        // grid-template-rows: 400px;
        // border: 1px solid sandybrown;
        //overflow: hidden;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: 400px;
        .slick-list {
            overflow: visible;
            margin: 0 28px;
        }
        .sbtn {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            box-shadow: $shadow1;
            background: #fff;
            z-index: 1000;
            &:after {
                content: url('../img/nrig.png');
            
            }
        }
        .pull-left {
            left: -44px;
        }
        .pull-right {
            right: -44px;
        }
        .news-item {
            display: block;
            //border: 1px solid red;
            position: relative;
            height: 400px;
            max-width: 33.33%;
            width: 100%;
            float: left;
            background: #f5f5f5;
            border: 1px solid #fff;
            transition: .2s ease-in-out;
            //transition-delay: .2s;
            box-sizing: border-box;
            &--thumb {
                height: 220px;
                position: relative;
                background-size: cover !important;
                background-position: center !important;
                &_shadow{
                    content: '';
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                   height: 100%;
                    background: #70b911cc;
                    
                    position: absolute;
                    opacity: 0;
                    transition: .4s ease;
                    //transition-delay: .3s;
                    
                }
                .green-btn {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            &--tit {
                padding: 10px;
                font-family: 'gbold';
                font-size: 15px;
            }
            &--text {
                padding-left: 10px;
                padding-right: 10px;
                font-family: 'glight';
                font-size: 14px;  
            }
            &:hover {
                transition-delay: .5s;
                transition: .4s ease-in-out;
                transform: scale(1.2);
                box-shadow: 0 5px 47px rgba(0, 0, 0, 0.2);
                z-index: 30;
                .news-item--thumb_shadow {
                    opacity: 1;
                }
            }
            
        }
        .slick-slide {
            opacity: 0
        }
      
        .slick-active {
            opacity: 1;
        }
    }
}

/////////////////////// page ABOUT
.doudle-title {
    font-family: 'gbold';
    font-size: 45px;
    color: $grey_p;
    position: relative;
    line-height: 27px;
    display: inline-block;
    margin-bottom: 40px !important;
    &:before {
        content: 'uit';
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0px;
        font-family: 'gheavy';
        font-size: 145px;
        color: #f1f1f1;
        z-index: -1;
        line-height: 88px;
    }
    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 120px;
        background: $green;
        top: -35px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.article-text {
    font-family: 'glight';
    font-size: 14px;
    color: $grey_p;
    margin: 0;
}
.green-btn {
    text-transform: uppercase;
    width: 175px;
    background: $green;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-family: 'gbold';
    font-size: 14px;
    display: inherit;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: $shadow1;
    transition: .4s ease;
    &:hover {
        box-shadow: $shadow2; 
        color: #fff;   
    }
}

//chess
.chess {
    &__wrap1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 420px;
        margin-top: 70px;
        .chess__item {
            display: flex;
            .same {
                height: 210px;
                display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 7px;
                    &--logo {
                        width: 100%;
                    }
                    .article-text {
                        text-align: center;
                        line-height: 18px;
                    }
                    &--more-btn {
                        font-family: 'gmedium';
                        font-size: 14px;
                        text-transform: capitalize;
                        color: #fff;
                        margin-top: 15px;
                        transition: opacity .4s ease-in-out;
                        transition-delay: .2s;
                        opacity: 0;
                    }
            }
            .chess__item_bottom {
                background: #fff;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    transform: rotate(45deg);
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: #eef1f2;
                }
            }
            .chess__item_top {
                background: #eef1f2;
                position: relative;
                &--hover {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: #70b911f5;
                    //cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: .2s ease-in;
                    z-index: 10;
                    box-shadow: 0 5px 47px rgba(0, 0, 0, 0.2)  ; 
                }
                &:hover {
                    .chess__item_top--hover {
                        left: -10px;
                        right: -10px;
                        // top: -10px;
                        // bottom: -10px;
                        width: calc(100% + 20px);
                        // height: calc(100% + 20px);
                        z-index: 100;
                        opacity: 1;                    
                    }
                    .same--more-btn {
                        opacity: 1;
                    }
                }
            }
            &:nth-child(odd) {
                flex-direction: column;
                .chess__item_bottom {
                    &:after {
                        top: -11px;
                      
                    }
                }
            }
            &:nth-child(even) {
                flex-direction: column-reverse;
                .chess__item_bottom {
                    &:after {
                        top: 200px;
                      
                    }
                }
            }
        }
    }

    // &__item {
        
    // }
}


// page about us
.lines {
    position: relative;
    padding-bottom: 140px;
    padding-right: 0;
    padding-left: 0;
   
}
.back-lines {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background: tomato;
    //opacity: .2;
    z-index: -2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    span {
        &:nth-child(odd) {
            border-left: 1px solid #dbdddc;
            border-right: 1px solid #dbdddc;
        }
        &:last-child {
            border-right: 1px solid #dbdddc;
        }
    }
}
// uit
.text-img {
    &__text {
        .doudle-title {
            margin-top: 180px;
            text-transform: uppercase;
        }   
        .article-text {
            max-width: 362px;
        }
    }
    &__img {
        padding-top: 65px;
    }
}
// title досвiд
.experience {
    .doudle-title {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-top: 150px;
        &:before {
            content: 'experience';
            right: 0;
        }
    }
    .article-text {
        max-width: 517px;
        margin: 0 auto;
        text-align: center;
    }
}

.see-all {
    margin: 80px auto 150px;
}

// title progress
.progr {
        display: block;
        margin: 250px auto 150px !important;
        text-align: center;
        &:before {
            content: 'success';
            right: 0;
            margin: auto;
        }
}


.four-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 480px;
    &__item {
        //border: 1px solid teal;
        
        &_top {
            height: 240px;
        }
        &_bottom {
            height: 240px;
        }
        &:nth-child(even) {
            .four-col__item_bottom {
                //height: 240px;
                display: flex;
                align-items: flex-end;
            }
            .four-col__item_top {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .four-col--bold {
                    max-width: 140px;
                    text-align: center;

                }
            }
        }
        &:nth-child(odd) {
            
            .four-col__item_bottom {
                display: flex;
                flex-direction: column;
                //justify-content: center;
                align-items: center;
                justify-content: space-between;
                .four-col--bold {
                    max-width: 140px;
                    text-align: center;

                }
            }
        }
    }
}



//530
.green-spilka {
    height: 530px;
    background: url('../img/spilka.jpg') no-repeat;
    background-color: #8bc53f;
    background-size: contain;
    background-position: center;
   // margin-top: 140px;
   .spilka {
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 530px;
       &--title {
           font-family: 'gbold';
           font-size: 30px;
           color: #fff;
       }
       .article-text {
           color: #fff;
           //font-size: 14px;
           padding: 40px 0;
           max-width: 435px;
       }
   }
}

.benefits-title {
    display: block;
    margin: 0px auto 205px !important;
    text-align: center;
    &:before {
        content: 'benefits';
        right: 0;
        margin: auto;
    }
}

//four lines with numbers
.ben { position: relative; padding-left: 0; padding-right: 0; padding-top: 220px }
.count-benefits {
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 170px;
    position: relative;
    &__item--head {
        font-family: 'gbold';
        font-size: 27px;
        color: #495651;
        line-height: 32px;
        position: relative;
        &:after {
            content: '';
            font-family: 'gheavy';
            font-size: 145px;
            position: absolute;
            left: -3px;
            top: 0px;
            z-index: -1;
            color: #f0f1f1;
        }
    }
    
    &__item {
        
        &:nth-child(1) {
            .count-benefits__item--head {
                &:after {
                    content: '01'
                }
            }
        }
        &:nth-child(3) {
            .count-benefits__item--head {
                &:after {
                    content: '04'
                }
            }
        }
        &:nth-child(6) {
            .count-benefits__item--head {
                &:after {
                    content: '03'
                }
            }
        }
        &:nth-child(8) {
            .count-benefits__item--head {
                &:after {
                    content: '06'
                }
            }
        }
        &:nth-child(9) {
            .count-benefits__item--head {
                &:after {
                    content: '02'
                }
            }
        }
        &:nth-child(11) {
            .count-benefits__item--head {
                &:after {
                    content: '05'
                }
            }
        }
    }
}

// question form
.quest-form {
    background: #f6f6f6;
    width: 100%;
    position: relative;
    &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 425px;
    }
    &--head {
        font-family: 'gbold';
        font-size: 27px;
        color: #495651;
        line-height: 32px;
        position: relative;
    }
    &_right {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 425px; 
        .form-text {
            font-family: 'gbold';
            font-size: 16px;
            color: #495651;
        }
    }
    .demo-form {
        width: 730px;
        height: 130px;
        background: #666666;
        display: inline-block;
    }


    &--img {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        display: none
        //question
    }
 
}


/////////////////////// page SERVICES

.services-wrap {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    .services__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 380px;
        &:nth-child(odd) {
            grid-template-areas: 
            'a b'
        }
        &:nth-child(even) {
            grid-template-areas: 
            'b a'  
        }
        &_l {
            grid-area: a;
            //border: 1px salmon solid;
            background-size: cover !important;
            background-position: center !important;
            position: relative;
            &--hover {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: #70b911f5;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: .2s ease-in;
                z-index: 10;
                box-shadow: 0 5px 47px rgba(0, 0, 0, 0.2)  ; 
            }
            &--title {
                font-family: 'gbold';
                font-size: 22px;
                color: #fff;
                max-width: 280px;
                text-align: center;
                opacity: 0;
                transition: opacity .6s ease-in-out;
                transition-delay: .2s
            }
            &--more {
                font-family: 'gmedium';
                font-size: 14px;
                color: #fff;
                opacity: 0;
                transition: opacity .6s ease-in-out;
                transition-delay: .3s
            }
            &:hover {
                .services__item_l--hover {
                    left: -10px;
                    right: -10px;
                    top: -10px;
                    bottom: -10px;
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                    z-index: 100;
                    opacity: 1;
                }
               .services__item_l--title {
                    opacity: 1;
               }
               .services__item_l--more {
                   opacity: 1;
               }
            }
        }
        &_r {
            grid-area: b;
            //border: 1px salmon solid;
            align-self: center;
            max-width: 400px;
            justify-self: center;
        }
       
    }
}


/////////////////////// page PRODUCTS
.products-wrap {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    .products__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px;
        &:nth-child(even) {
            grid-template-areas: 
            'a b'
        }
        &:nth-child(odd) {
            grid-template-areas: 
            'b a'  
        }
        &_l {
            grid-area: a;
           justify-self: center;
          align-self: center;
        }
        &_r {
            grid-area: b;
            //border: 1px salmon solid;
            align-self: center;
            max-width: 400px;
            justify-self: center;
            .green-btn {
                margin: inherit;
                margin-top: 30px;
                text-transform: uppercase;
            }

        }
       
    }
}

/////////////////////// page CLIENS
.clients-wrap {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    padding-top: 150px;
    padding-bottom: 250px;
}

/////////////////////// page BLOG
.main-blog-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 150px;
    padding-bottom: 250px;
    position: relative;
}
.blog-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:nth-child(even) {
        .blog-wrap__item {
            flex-direction: row-reverse;
        }
    }

    &__item {
            //border: 1px solid #495651;
            display: flex;
            height: 365px;
        &_top {
           // border-bottom: 1px solid seagreen;
            background: salmon;
            height: 365px;
            width: 50%;
            background-position: center !important;
            background-size: cover !important;
            position: relative;
            &--hover {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: #70b911f5;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: .2s ease-in;
                z-index: 10;
                box-shadow: 0 5px 47px rgba(0, 0, 0, 0.2)  ; 
            }
            &--title {
                font-family: 'gbold';
                font-size: 22px;
                color: #fff;
                max-width: 280px;
                text-align: center;
                opacity: 0;
                transition: opacity .6s ease-in-out;
                transition-delay: .2s;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: -20px;
                    width: 30px;
                    height: 1px;
                    background: #fff;
                    left: 0;
                    right: 0;
                    margin: auto;

                }
            }
            &--more {
                font-family: 'gmedium';
                text-transform: capitalize;
                font-size: 14px;
                color: #fff;
                opacity: 0;
                transition: opacity .6s ease-in-out;
                transition-delay: .3s
            }
            &:hover {
                .blog-wrap__item_top--hover {
                    left: -10px;
                    right: -10px;
                    top: -10px;
                    bottom: -10px;
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                    z-index: 100;
                    opacity: 1;
                }
               .blog-wrap__item_top--title {
                    opacity: 1;
               }
               .blog-wrap__item_top--more {
                   opacity: 1;
               }
            }
         
        }
        &_bot {
            width: 50%;
            height: 365px;
            color: #494949;
            padding: 44px 20px 5px;
            position: relative;
            &--date {
                font-family: 'glight';
                font-size: 14px;
            }
            &--title {
                font-family: 'gbold';
                font-size: 20px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    height: 2px;
                    width: 40px;
                    bottom: -5px;
                    background: #8bc53f;
                }
            }
            &--text {
                font-family: 'glight';
                font-size: 14px;
                max-height: 127px;
                overflow: hidden;
                // max-width: 235px;
                // white-space: nowrap;
                // text-overflow: ellipsis;
            }
            &--cat {
                font-family: 'glight';
                font-size: 14px;
                position: absolute;
                bottom: 5px;
                right: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    left: -40px;
                    height: 1px;
                    width: 30px;
                    top: 8px;
                    background: #8bc53f;
                }
            }
        }
        // &:nth-child(even) {
        //     display: flex;
        //     flex-direction: column-reverse;
        // }
    }
}


//////////////////////// pag CONTACTS
.over-cont {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.contacts-wrap {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 570px;
    div {
        //border: 1px solid salmon;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    &--title {
        font-family: 'gbold';
        font-size: 45px;
        text-transform: uppercase;
    }
    &--adress {
        font-family: 'glight';
        font-size: 14px;
    }
    &--tel {
        font-family: 'glight';
        font-size: 14px;
        color: #212529
    }
    &--otdel {
        font-family: 'glight';
        font-size: 14px;
        margin: 15px 0 0;
    }
    &--mail {
        font-family: 'glight';
        font-size: 14px;
        color: #212529;
    }
}
#contacts {
    .article-text {
        margin-bottom: 15px;
    }
    .quest-form-ph {
        font-family: 'gbold';
        font-size: 16px;
        color: #495651;
    }
   
}

@import './structure/footer';
