.udk{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
	height:600px;
}
.udk__gr__line{
	margin-top: 120px;
	height: 1px;
	width: 120px;
	background-color: #8acf07;
}
.breads__wrap__margin{
	margin: -15px !important;
}
.udk__bg{
	font-family: gheavy;
	font-size: 145px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	position: absolute;
	top: 50px;
}
.udk__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	text-transform: uppercase;
	position: absolute;
	width:450px;
	top: 150px;
	left: 13px;
}
.udk__text{
	color: #666666;
	font-family: glight;
	font-size: 14px;
	position: absolute;
	width: 450px;
	top: 230px;
	margin-top: 20px;
}
.udk__text2{
	color: #666666;
	font-family: glight;
	font-size: 14px;
	position: absolute;
	width: 380px;
	top: 330px;
	margin-top: 100px;
}
.udk__computers{
	width:512px;
	height: 380px;
	position: relative;
	top: 90px;
	left: 157px;
}
.value{
	position: relative;
	padding-top: 60px;
	padding-bottom: 80px;
}
.value__line{
	height: 1px;
	width: 120px;
	background-color: #8acf07;
	margin: 0 auto;
	position: relative;
	top: -132px;
}
.value__bg{
	font-family: gheavy;
	font-size: 145px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	text-align: center;
	position: relative;
	top: -200px;
}
.value__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.filesbuh{
	margin-top: -150px;
	margin-left: -14px;
	width:568px;
}
.value ul{
	margin-top: 50px;
	width:900px;
	margin-left: -20px;
}
.value ul li{
	color: #8bc53f;
	margin-top: 10px;
}
.value ul li span{
	color: #494949;
	font-family: glight;
	font-size: 14px;
}
.functions{
	position: relative;
	padding-bottom: 20px;
	padding-top: 100px;
}
.functions__line{
	height: 1px;
	width: 120px;
	background-color: #8acf07;
	margin: 0 auto;
	position: relative;
	top: -132px;
}
.functions__bg{
	font-family: gheavy;
	font-size: 130px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	text-align: center;
	position: relative;
	top: -188px;
}
.functions__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.functions__grid{
	display: grid;
	grid-template-columns: repeat(4 , 285px);
	grid-template-rows: repeat(3, 200px);
	margin-left: -15px;
	margin-top: -120px;
}
.functions__grid h4{
	color: #495651;
	font-family: gbold;
	font-size: 30px;
	margin-left: 15px;
	display: inline-block;
	position: relative;
	bottom: 78px;
	line-height: 28px;
}
.functions__grid p{
	color: #495651;
	font-family: glight;
	font-size: 14px;
	margin-left: 15px;
	display: inline-block;
	position: relative;
	bottom: 78px;
}
.functions__grid__greenl::before{
	content: " ";
	display: inline-block;
    width:1px;
    height: 100px;
    background-color: #8bc53f;
}
.functions__h4pos{
	position: relative;
	bottom: 110px !important;
}
.control{
	background-color: #8bc53f;
	height: 800px;
	position: relative;
}
.control__rel{
	position: relative;
}
.control__line{
	position: relative;
	top: 220px;
	height: 1px;
	width: 120px;
	background-color: #fff;
}
.control__bg{
	font-family: gheavy;
	font-size: 145px;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.1;
	position: relative;
	top: 50px;
}
.control__naming{
	font-family: gbold;
	font-size: 28px;
	color: #fff;
	position: absolute;
	width:322px;
	top: 161px;
}
.control__grid{
	display: grid;
	grid-template-columns: 500px 700px;
	margin-top: 44px;
}
.control__grid p{
	font-family: glight;
	font-size: 14px;
	color: #ffffff;
	width:350px;
	margin-top: 20px;
}
.control__grid ul li{
	list-style: none;
    background: url(../img/controlnext.png) no-repeat 0 14px;
    font-family: glight;
	font-size: 14px;
	color: #ffffff;
	width:370px;
	padding-left: 25px;
	padding-top: 10px;
	margin-bottom: 10px;
}
.control__grid ul{
	margin-left: -37px;
}
.control__video{
	background-color: #fff;
	width:700px;
	height: 400px;
}
.approach{
	position: relative;
	padding-bottom: 20px;
	padding-top: 160px;
}
.approach__line{
	height: 1px;
	width: 120px;
	background-color: #8acf07;
	margin: 0 auto;
	position: relative;
	top: -132px;
}
.approach__bg{
	font-family: gheavy;
	font-size: 130px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	text-align: center;
	position: relative;
	top: -188px;
}
.approach__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.advantages__grid{
	display: grid;
	grid-template-columns: repeat(4 , 285px);
	grid-template-rows: repeat(5, 200px);
	margin-left: -15px;
	margin-top: -120px;
}
.advantages__grid h4{
	color: #495651;
	font-family: gbold;
	font-size: 30px;
	margin-left: 15px;
	display: inline-block;
	position: relative;
	bottom: 78px;
	width: 360px;
	margin-top: -10px;
}
.advantages__grid p{
	color: #495651;
	font-family: glight;
	font-size: 14px;
	margin-left: 15px;
	display: inline-block;
	position: relative;
	bottom: 78px;
}
.advantages__grid__greenl::before{
	content: " ";
	display: inline-block;
    width:1px;
    height: 100px;
    background-color: #8bc53f;
}
.grid__image{
	margin: 0 auto;
}


.supply{
	position: relative;
}
.supply__line{
	height: 1px;
	width: 120px;
	background-color: #8bc53f;
	margin: 0 auto;
	position: relative;
	top: 200px;
}
.supply__bg{
	font-family: gheavy;
	font-size: 145px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	text-align: center;
	position: relative;
	top: 120px;
}
.supply__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 37px;
}
.supply__grid{
	display: grid;
	grid-template-columns: repeat(4 , 285px);
	grid-template-rows: repeat(2, 200px);
	margin-left: -15px;
	margin-top: 150px;
	padding-bottom: 100px;
}
.supply__grid__num{
	color: #495651;
	font-family: gheavy;
	font-size: 145px;
	text-align:center;
	opacity: 0.1;
	margin-top: -58px;
}
.supply__grid h4{
	color: #495651;
	font-family: gbold;
	font-size: 30px;
	margin-left: 15px;
	display: inline-block;
	position: relative;
	bottom: 78px;
}
.supply__grid p{
	color: #495651;
	font-family: glight;
	font-size: 14px;
	margin-left: 15px;
	display: inline-block;
	position: relative;
	bottom: 78px;
}
.supply__grid__greenl::before{
	content: " ";
	display: inline-block;
    width:1px;
    height: 100px;
    background-color: #8bc53f;
}
.reviews__button{
	font-family: gbold;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 10px 70px;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
	border-radius: 3px;
	background-color: #8bc53f;
	
}
.reviews__button:hover{
	color: #8bc53f;
	background-color: #ffffff;
	transition: 0.5s;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8);
}
.supply__grid__but{
	grid-area: 2 / 2 /span 1 / span 1;
}
.supply__grid__but2{
	grid-area: 2 / 4 /span 1 / span 1;
}
.reviews__but{
	margin-top: -50px;
}
.clients{
	position: relative;
	padding-bottom: 200px;
	padding-top: 260px;
	background-image: url(../img/pattern.svg);
	background-position: 100%;

}
.clients__line{
	height: 1px;
	width: 120px;
	background-color: #8acf07;
	margin: 0 auto;
	position: relative;
	top: -108px;
}
.clients__bg{
	font-family: gheavy;
	font-size: 130px;
	color: #495651;
	text-transform: uppercase;
	opacity: 0.1;
	text-align: center;
	position: relative;
	top: -188px;
}
.clients__naming{
	font-family: gbold;
	font-size: 45px;
	color: #495651;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -268px;
}
.clients__grida{
	margin-top: -300px;
}
.reviews__butt{
 display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}
.reviews__button{
	font-family: gbold;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 10px 50px;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
	border-radius: 3px;
	transition: 0.5s;
}
.reviews__button:hover{
	color: #8bc53f;
	transition: 0.5s;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8);
}
.consult{
	display: grid;
	grid-template-columns: 390px 1fr;
	grid-gap: 60px;
	position: relative;
	padding-bottom: 100px;
}
.consult__grey{
	background-color: #f6f6f6;
}
.consult__line{
	font-family: gbold;
	font-size: 30px;
	color: #495651;
	margin-top: 115px;
}
.consult__text{
	color: #494949;
	font-family: glight;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.consult__textbold{
	color: #494949;
	font-family: gbold;
	font-size: 16px;
	margin-bottom: 115px;
}
.form__email{
	width:320px;
	height: 65px;
	padding-left: 30px;
	background-color: #cacaca;
	box-sizing: border-box;
	border: none;
	font-family: glight;
	font-size: 14px;
	color: #494949;
	margin-bottom: 2px;

}
.form__button{
	width:320px;
	height: 65px;
	background-color: #ffffff;
    border: none;
    color: #495651;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-family: gbold;
	font-size: 18px;
	color: #495651;
	cursor: pointer;
}
.consult__gr1text{
	color:#495651;
	font-family: gbold;
	font-size: 16px;
	margin-top: 130px;
}
.consult__img{
	position: absolute;
	right: -180px;
	top: 105px;
	width:240px;
	height: 270px;
}